* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}


.container {
    margin: 0 auto;
    width: 1000px;
    padding: 100px 0;
}
p {
    padding: 20px 0;
}

.box {
    padding-bottom: 70px;
}

.box-list {
    margin: 40px 0;
}